*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    all:unset;
}

.text{
    font-family: 'Poppins';
}

.navigation ul{
    max-width: 1000px;
    display: flex;
    gap:48px;
    list-style: none;
}

.first:hover{
    cursor: pointer;
}

.first-button{
    transition: box-shadow 0.6s;
}

.first-button:hover{
    box-shadow: 0 0 10px 10px rgba(41, 178, 78, 0.5);
    cursor: pointer;
}

.first:hover:after{
    content: "";
    width:42px;
    height:2px;
    background-color: rgb(41, 178, 78);
    display: block;
    margin:8px auto;
    margin-bottom: -15px;
}

.first-button{
    padding: 13px 26px;
    border-radius: 12px;
    background-color: #29B24E;
    color: white;
    border: none;
}

.search-logo{
    border-radius: 50%;
    padding: 15px;
    background-color:#F8F8F8;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    display: none;
}

.header-line{
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 42px;
}

.country-select{
    border: 1px;
    border-style: solid;
    border-color: #0D9CA436;
    border-radius: 24px;
    max-width: 350px;
    width:331px;
    padding: 13px 0;
}

.location,
.property,
.price-range{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.location,
.property{
    margin: auto;
}

.price-range{
    padding-left: 32px;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:35px;
    max-width: 400px;
    border: none;
    border-radius: 24px;
    background-color: #F8F8F8;
}


